apiVersion: v1
kind: Service
metadata:
  name: model-service
  namespace: pokewatch
  labels:
    app: model-service
    tier: ml
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: model-service
